.footer-container {
  margin-top: 100px;
  display: flex;
}

.footer-right {
  width: 100%;
  margin-left: 300px;
  display: flex;
  justify-content: center;
}

.footer-logo img {
  width: 136px;
  height: 20px;
}

.footer-text {
  margin-top: 20px;
  font-size: 14px;
  width: 100px;
  height: 60px;
  /*Khoảng cách giữa các chữ*/
  line-height: 25px;
  color: #8c8c8c;
}

.footer-social-icon {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-social-icon svg {
  border: 2px solid black;
  border-radius: 100px;
  padding: 5px;
  width: 20px;
  height: 20px;
}

.footer-menu {
  margin-top: -2.5rem;
}

.footer-menu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  flex: 1;
  margin-top: 20px;
  margin-right: 50px; /* Add space to the right of each column */
  font-size: 20px;
  color: #8c8c8c;
}

.footer-menu li:last-child {
  margin-right: 0; /* Remove the right margin from the last column */
}

.footer-menu li a {
  text-decoration: none;
  color: #8c8c8c;
  text-align: left;
  font-size: 16px;
}
